.outputtitle{
    word-wrap: break-word;
    color: #713ABE;
    border-top: 1px solid #713ABE;
    padding-top: 10px;}
.outputdate{
    color: gray;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;}    
.deletebutton{
    background: #713ABE;
    border: none;
    padding: 5px;
    margin-top: -5px;
    color: white;
    border-radius: 5px ;
    margin-bottom: 10px;}

@media (max-width: 667px){
    .card{
        padding-top: 10px;
        padding: 10px;
        display:grid;
        border-radius: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);}
    .list{
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        list-style-type: none;
        padding-left: 10px;
        border-radius: 10px;
        padding-right: 10px;}
    .heading{
        color: blueviolet;
        display: flex;
        justify-content: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
    .descriptiontext{
        color: #713ABE;
        margin-top: -8px;
        margin-bottom: 10px;
        font-size: small;
        font-weight:lighter;
    }
    .datetext{
        color: #713ABE;
        margin-bottom: 10px;
        font-size: small;
        font-weight:lighter;
    }
    .inputcard{
        display: grid;
        width: 100%;}
    .input-title{
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        border-color: blueviolet;
        border-width: 0.5px;}
    .inputdate{
        border-radius: 6px;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        width: 100%;
        margin-bottom: 25px;
        box-sizing: border-box;
        border-width: 0.5px;
        border-color: blueviolet;}
    .addbutton{
        background-color:blueviolet;
        border-radius: 5px;
        color: white;
        padding: 10px;
        margin-bottom: 20px;
        border-width: 0.5px;
        border-color: blueviolet;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);}}
 

@media (min-width: 668px){
    .card{
        padding-top: 10px;
        display:grid;
        border-radius: 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        justify-content:center;}
    .list{
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        list-style-type: none;
        padding-left: 10px;
        border-radius: 10px;
        padding-right: 10px;}
    .heading{
        color: blueviolet;
        display: flex;
        justify-content: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    .descriptiontext{
        color: #713ABE;
        margin-top: -8px;
        font-weight:lighter;
        margin-bottom: 10px;}
    .datetext{
        color: #713ABE;
        font-weight:lighter;
        margin-bottom: 10px;}
    .inputcard{
        display: grid;
        width: 200%;
        margin-left: -50%;
    }
    .input-title{
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        border-color: blueviolet;
        border-width: 0.5px;}
    .inputdate{
        color: black;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 25px;
        border-radius: 6px;
        border-color: blueviolet;
        border-width: 0.5px;}
    .addbutton{
        background-color:blueviolet;
        color: white;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        border-color: blueviolet;
        border-width: 0.5px;
        margin-bottom: 30px;}}





